doctype html
html(lang='en')
    include block/head
    body#index
        .container-fluid
            .masthead.center-block
                h1.text-muted InstaVPN

        .well.center-block
            .row
                form.form-signin.center-block(role='form', action="/", method="post")
                    .form-group
                        label.sr-only(for='inputEmail') #{__("Username")}
                        input#inputEmail.form-control(type='text', placeholder=__("Username"), required='', autofocus='' name="user")
                    .form-group
                        label.sr-only(for='inputPassword') #{__("Password")}
                        input#inputPassword.form-control(type='password', placeholder=__("Password"), required='', name="password")
                    .form-group
                        button.btn.btn-lg.btn-primary.btn-block(type='submit') #{__("Ok")}
            if locals.message != ''
                .row
                    .alert.alert-danger(role='alert')
                          strong #{message}
        include block/scripts
